<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
	<p>Hello,</p>
	<p>Welcome to our platform! Please click the link below to set up your admin information:</p>
	<a href="<%= url %>">Activate Your Account</a>
	<p>If you didn't request this, please ignore this email.</p>
</body>

</html>